<h1 id="">Success!</h1>
<p>Latest diamond information from bluenile.com has been recorded.</p>

<div id="name">
    <b>New Diamonds:</b> <%= @new.count %>
</div>
<div id="name">
    <b>New Archivals:</b> <%= @missing.count %>
</div>
<div id="name">
    <b>Current Diamonds:</b> <%= @current.count %>
</div>
<div id="name">
    <b>Archived:</b> <%= @archived.count %>
</div>



