<!DOCTYPE html>
<html>
<head>
  <title>Lucy</title>
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="js/bootstrap.min.js"/>
</body>
</html>
